h1{
    margin-left: 40%;
    color: whitesmoke;
}
h2{
    color: whitesmoke;
    margin-left: 40%;
}
body{
    background-color: #a6a6a6;

}
p{
    color: purple;
    font-style: bold;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: justify;
}